.container-about { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-about .image-about {
  width: 20rem;
  height: 20rem;
  border: none;
  background-image: url(/../assets/help.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem 0rem;
}

.container-about .text {
  margin: 2rem 3rem;
  text-align: justify;
}