:root {
  --color-background: #F0F0F7;
  --color-primary: #8257E5;
  --color-secondary: #04D361;
  --color-text-title: #32264D;
  --color-text-base: #6A6180;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 13px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 0.2rem;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--color-background);
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-title);
}

.voltar-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.voltar-home a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.voltar-home img {
  width: 2.3rem;
  height: 2.3rem;
}