:root {
  --color-primary-white: #F1F1F1;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background-color: var(--color-primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 1.6rem Poppins;
}

a {
  text-decoration: none;
  color: #7159C1;
}