@media (max-width: 700px) {
  :root {
    font-size: 62.5%;
  }

  div#container {
    padding: 2rem;
  }

  header {
    position: absolute;
  }

  main {
    margin-top: 2050rem;
  }
}

@media (max-width: 668px) {
  main {
    margin-top: 2070rem;
  }
}

@media (max-width: 646px) {
  main {
    margin-top: 2090rem;
  }
}

@media (max-width: 632px) {
  main {
    margin-top: 2100rem;
  }
}

@media (max-width: 626px) {
  main {
    margin-top: 2120rem;
  }
}

@media (max-width: 616px) {
  main {
    margin-top: 2130rem;
  }
}

@media (max-width: 610px) {
  main {
    margin-top: 2150rem;
  }
}

@media (max-width: 602px) {
  main {
    margin-top: 2170rem;
  }
}

@media (max-width: 588px) {
  main {
    margin-top: 2190rem;
  }
}

@media (max-width: 579px) {
  main {
    margin-top: 2210rem;
  }
}

@media (max-width: 569px) {
  main {
    margin-top: 2220rem;
  }
}

@media (max-width: 566px) {
  main {
    margin-top: 2240rem;
  }
}

@media (max-width: 558px) {
  main {
    margin-top: 2260rem;
  }
}

@media (max-width: 554px) {
  main {
    margin-top: 2290rem;
  }
}

@media (max-width: 548px) {
  main {
    margin-top: 2350rem;
  }
}

@media (max-width: 520px) {
  main {
    margin-top: 2400rem;
  }
}

@media (max-width: 504px) {
  main {
    margin-top: 2420rem;
  }
}

@media (max-width: 494px) {
  main {
    margin-top: 2450rem;
  }
}

@media (max-width: 478px) {
  main {
    margin-top: 2470rem;
  }
}

@media (max-width: 472px) {
  main {
    margin-top: 2500rem;
  }
}

@media (max-width: 461px) {
  main {
    margin-top: 2530rem;
  }
}

@media (max-width: 455px) {
  main {
    margin-top: 2550rem;
  }
}

@media (max-width: 450px) {
  main {
    margin-top: 2580rem;
  }
}

@media (max-width: 466px) {
  main {
    margin-top: 2600rem;
  }
}

@media (max-width: 439px) {
  main {
    margin-top: 2620rem;
  }
}

@media (max-width: 437px) {
  main {
    margin-top: 2670rem;
  }
}

@media (max-width: 424px) {
  main {
    margin-top: 2710rem;
  }
}

@media (max-width: 416px) {
  main {
    margin-top: 2740rem;
  }
}

@media (max-width: 408px) {
  main {
    margin-top: 2770rem;
  }
}

@media (max-width: 397px) {
  main {
    margin-top: 2850rem;
  }
}

@media (max-width: 387px) {
  main {
    margin-top: 2900rem;
  }
}

@media (max-width: 377px) {
  main {
    margin-top: 2930rem;
  }
}

@media (max-width: 370px) {
  main {
    margin-top: 2950rem;
  }
}

@media (max-width: 366px) {
  main {
    margin-top: 2970rem;
  }
}

@media (max-width: 363px) {
  main {
    margin-top: 3000rem;
  }
}

@media (max-width: 357px) {
  main {
    margin-top: 3040rem;
  }
}

@media (max-width: 349px) {
  main {
    margin-top: 3070rem;
  }
}

@media (max-width: 343px) {
  main {
    margin-top: 3090rem;
  }
}

@media (max-width: 340px) {
  main {
    margin-top: 3115rem;
  }
}

@media (max-width: 337px) {
  main {
    margin-top: 3145rem;
  }
}

@media (max-width: 333px) {
  main {
    margin-top: 3165rem;
  }
}

@media (max-width: 331px) {
  main {
    margin-top: 3210rem;
  }
}

@media (max-width: 326px) {
  main {
    margin-top: 3250rem;
  }
}

@media (max-width: 321px) {
  main {
    margin-top: 3280rem;
  }
}

@media (max-width: 317px) {
  main {
    margin-top: 3320rem;
  }
}

@media (max-width: 313px) {
  main {
    margin-top: 3360rem;
  }
}

@media (max-width: 309px) {
  main {
    margin-top: 3390rem;
  }
}

@media (max-width: 305px) {
  main {
    margin-top: 3430rem;
  }
}

@media (max-width: 302px) {
  main {
    margin-top: 3490rem;
  }
}

@media (max-width: 297px) {
  main {
    margin-top: 3520rem;
  }
}

@media (max-width: 293px) {
  main {
    margin-top: 3570rem;
  }
}

@media (max-width: 287px) {
  main {
    margin-top: 3630rem;
  }
}

@media (max-width: 281px) {
  main {
    margin-top: 3700rem;
  }
}

@media (max-width: 274px) {
  main {
    margin-top: 3750rem;
  }
}