@media (min-width: 1000px) {
  :root {
    font-size: 62.5%;
  }
}

/*MAIN*/
@media (max-width: 370px) {
  .button-primary {
    width: 11rem;
    height: 6rem;
    font-size: 2rem;
  }

  .icon img {
    width: 25rem;
    height: 25rem;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 62.5%;
  }

  .button-primary {
    width: 20rem;
    height: 8.2rem;
    justify-content: space-evenly;
  }

  .button-primary img {
    display: inline;
    width: 4rem;
    height: 4rem;
  }
}

/*ABOUT*/

@media (min-width: 1000px) {
  .container-about .image-about {
    width: 30rem;
    height: 30rem;
  }
  .container-about .text {
    margin: 0.9rem 10rem;
  }
}

/*TERMINAL*/

@media (min-width: 1000px) {
  .container-main { 
    --padding-container: 8rem;
    padding: var(--padding-container);
    text-align: justify;
  }

  ul, ol {
    margin-left: calc(var(--padding-container) - 5rem);
  }

  h1 {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--color-white);
  }

  #Fim {
    position: fixed;
    z-index: 999999;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }

  #Fim img {
    width: 4rem;
    height: 4rem;
  }
}


/*404*/

@media (max-width: 340px) {
  .container-not-found { 
    width: 80vw;
  }
}

