.container-main {
  --padding-container: 70px;
  padding: var(--padding-container);
  text-align: justify;
}

ul, ol {
  margin-left: calc(var(--padding-container) - 50px);
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--color-white);
}
