body {
  line-height: 3.5rem;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

.container-main { 
  --padding-container: 1.5rem;
  padding: var(--padding-container);
  text-align: justify;
}

ul, ol {
  margin-left: 3rem;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--color-white);
}

#Fim {
  position: fixed;
  z-index: 999999;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#Fim img {
  width: 4rem;
  height: 4rem;
}